<html>
	<head>
		<title></title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		
		<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
		<script src="{{ url_for('static', filename='js/jquery-1.11.3.js') }}"></script>
		<script src="{{ url_for('static', filename='js/sessvars.js') }}"></script>
		<script src="{{ url_for('static', filename='js/main-script.js') }}"></script>
	</head>
	
	<body id="content" style="background-color: #rgb(23, 53, 86);">
		<section class="container">
			<h2 id="head" style="text-align: center; margin: 0.25em; cursor: pointer; transition: color .5s ease-in-out;">Creafly</h2>
			<p id="message" style="text-align: center; transition: color .499s ease-in-out;">Welcome to Creafly. Click the lightbulb or use the word wizard if you can't think of anything to write.</p>
			<section class="container" style="padding: 0">
				<div id="divOne" class="sideDiv">
					<h3 style="margin: 5% 0 0 0; text-align: center; font-weight: bold">Word Wizard</h3>
					<div class="input-group" style="width: 80%; margin: 0.5em auto 0 auto;">
					  <input id="wordWizard" type="text" class="form-control" placeholder="Type any word!">
					  	  
							<button id="submit" class="btn btn-primary" type="button">Go!</button>
						
						
						
					  <div id="results" style="width: 100%; padding: 0 0 1em 0; box-shadow: 0 1px 0 rgba(255, 255, 255, 0.35);">
						  <h3 style="font-weight: bold; margin: 2.5em 0 0.25em 0;">Definition:</h3>
						  <h6 id="definition">The definition of the word.<h6>
						  <h3 style="font-weight: bold; margin: 1em 0 0.25em 0;">Synonyms:</h3>
						  <h6 id="synonym">The synonyms of the word.<h6>
					  </div>
					  
					  <h3 style="font-weight: bold; margin: 1em 0 0.25em 0;">Word Count:</h3>
					  <h6 id="wordCount">There are 0 words in the text.<h6>
					  <h3 style="font-weight: bold; margin: 1em 0 0.25em 0;">Character Count:</h3>
					  <h6 id="charCount">There are 0 characters in the text.<h6>
					  
					</div>
				</div>
				<div id="divTwo">
					<textarea id="txtArea" class="form-control" style="width: 100%; height: 70%;" placeholder="Lets get you started! Input a few lines to get Creafly going. "></textarea>
				</div>
				<div id="divThree" class="sideDiv">
					<h3 style="margin: 5% 0 0 0; text-align: center; font-weight: bold">Your Writing Style</h3>
					<div class="topicBar">
						<div id="psychology" class="topicBarFill" style="background-color: rgba(255, 45, 85, 0.55);"></div>
						<h5>Psychology</h5>
					</div>
					<div class="topicBar">
						<div id="art" class="topicBarFill" style="background-color: rgba(255, 59, 48, 0.55);"></div>
						<h5>Art and Culture</h5>
					</div>
					<div class="topicBar">
						<div id="comedy" class="topicBarFill" style="background-color: rgba(255, 149, 0, 0.55);"></div>
						<h5>Comedy</h5>
					</div>
					<div class="topicBar">
						<div id="politics" class="topicBarFill" style="background-color: rgba(255, 204, 0, 0.55);"></div>
						<h5>Politics</h5>
					</div>
					<div class="topicBar">
						<div id="business" class="topicBarFill" style="background-color: rgba(76, 217, 100, 0.55);"></div>
						<h5>Business</h5>
					</div>
					<div class="topicBar">
						<div id="tech" class="topicBarFill" style="background-color: rgba(52, 170, 220, 0.55);"></div>
						<h5>Technology</h5>
					</div>
					<div class="topicBar">
						<div id="sports" class="topicBarFill" style="background-color: rgba(88, 86, 214, 0.55);"></div>
						<h5>Sports</h5>
					</div>
					<img id="bulbImage" src="static/img/pic0.png">
				</div>
			</section>
		</section>
	</body>
</html>